<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>vn.iostar.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>ThWeb_27_08</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>vn.iostar.controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>vn.iostar.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WaitingController</display-name>
    <servlet-name>WaitingController</servlet-name>
    <servlet-class>vn.iostar.controller.WaitingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaitingController</servlet-name>
    <url-pattern>/WaitingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordController</display-name>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>vn.iostar.controller.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/ForgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPasswordController</display-name>
    <servlet-name>NewPasswordController</servlet-name>
    <servlet-class>vn.iostar.controller.NewPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPasswordController</servlet-name>
    <url-pattern>/NewPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryController</display-name>
    <servlet-name>CategoryController</servlet-name>
    <servlet-class>vn.iostar.controller.CategoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryController</servlet-name>
    <url-pattern>/CategoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryEditController</display-name>
    <servlet-name>CategoryEditController</servlet-name>
    <servlet-class>vn.iostar.controller.CategoryEditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryEditController</servlet-name>
    <url-pattern>/CategoryEditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryAddController</display-name>
    <servlet-name>CategoryAddController</servlet-name>
    <servlet-class>vn.iostar.controller.CategoryAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAddController</servlet-name>
    <url-pattern>/CategoryAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDelete</display-name>
    <servlet-name>CategoryDelete</servlet-name>
    <servlet-class>vn.iostar.controller.CategoryDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDelete</servlet-name>
    <url-pattern>/CategoryDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadImageController</display-name>
    <servlet-name>DownloadImageController</servlet-name>
    <servlet-class>vn.iostar.controller.DownloadImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadImageController</servlet-name>
    <url-pattern>/DownloadImageController</url-pattern>
  </servlet-mapping>
</web-app>